@import url('https://rsms.me/inter/inter.css');

html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
}
.p-heading {
  font-size: 0.4em;
}
canvas {
  z-index: 0;
}
.absolute {
  position: absolute;
}
.m {
  width: 100%;
  height: 100vh;
}
.c-2 {
  width: 100%;
}
.u1 {
  color: black;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}
.m1 {
  width: 100%;
  height: 300px;
}
body {
  background: #1e293b;
  font-family: 'Inter var', sans-serif;
}

.bg {
  position: absolute;
  background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%);
}

h1 {
  position: absolute;
  top: 120px;
  left: 60px;
  font-weight: 900;
  font-size: 5em;
  margin: 0;
  color: peru;
  line-height: 0.6em;
  letter-spacing: -2px;
  text-align: left;
}

h1 > span {
  white-space: pre;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(63, 12, 88, 0.25) 0%, transparent 100%);
  pointer-events: none;
}

span.header {
  font-weight: 700;
  position: absolute;
  display: inline-block;
  width: 500px;
  transform: translate3d(0, -50%, 0);
  font-size: 9em;
  line-height: 0.9em;
  pointer-events: none;
  top: 350px;
  left: 50px;
}

span.header-left {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  transform: translate3d(0, -50%, 0);
  line-height: 1em;
  top: 200px;
  left: 60px;
  font-size: 4em;
  width: 200px;
}

a {
  font-weight: 400;
  font-size: 14px;
  color: inherit;
  position: absolute;
  display: inline;
  text-decoration: none;
  z-index: 1;
  color: white;
}

a.top-left {
  top: 60px;
  left: 60px;
}

a.top-right {
  top: 60px;
  right: 60px;
}

a.bottom-left {
  bottom: 60px;
  left: 60px;
}

a.bottom-right {
  bottom: 60px;
  right: 60px;
}
.images {
  /* position: absolute; */
}
.main-images-div {
  /* left:/300px; */
  padding: 24px 24px 0px 224px;
  top: 250px;
  background-color: orange;
}
.my-projects {
}
.image-border{
  border: 2px solid gold;
}
.about-me {
  /* font-family: ; */
  /* top: 300px; */
  font-family: 'Montserrat', sans-serif;
  /* font: ; */
}
.grids {
  padding-top: 20px;
  display: grid;
  /* position: ; */
  /* align-items: center; */
  /* text */
  /* background-color: gray; */
  grid-gap: 32px;
  grid-template-columns: repeat(3, minmax(0, 100%));
}
.boxs {
  padding: 10px;
  background: #262626;
  border-radius: 16px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgba(13, 13, 13, 0.4);
  border: 2px solid peru;
  border-radius: 10px;
}
.button-talk {
  border: 2px solid #1e293b;
  padding: 10px 16px 10px 16px;
  cursor: pointer !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  z-index: -10;
}
.button-talk:hover {
  border: 2px solid white;
  color:white; 
  /* padding: 10px 16px 10px 16px; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-weight: 500; */
}
/* .main-heading-div h1 {
  left: 510px !important;
} */
/* .swiper {
  width: 100%;
  height: 400px;
} */

/* .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


.card-div {
  backdrop-filter: blur(10px);
  --tw-shadow: 0px 1px 24px rgba(0, 0, 0, 0.05);
  --tw-shadow-colored: 0px 1px 24px var(--tw-shadow-color);
  --tw-bg-opacity: 0.6;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
  /* border-radius: 6px; */
  height: 80px;
  top: 150px;
}
.contant-name {
  font-weight: 700;
  font-size: 25px;
  /* margin: 0; */
  color: peru;
  line-height: 0.6em;
  letter-spacing: -2px;
}
.new-icons {
  /* background: #12192c; */
  display: flex;
  justify-content: center;
  padding: 1.8rem 0;
  border-radius: 0 0 10px 12px;
}
.new-icons li {
  list-style-type: none;
  background: peru;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.new-icons li:hover {
  background: #edffec;
  color: #000;
}